<!DOCTYPE html>
<html lang="en">
<head>
  <title>Input Schedule</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style= "background-color: #00122e; color: #176a90">
<div class="container">
  {% if message!=None%}
      <h4>{{message}}</h4>
  {% endif %}
  <br>
  <h2 style="text-align: center"> Jadwal Pekerjaan Pegawai </h2>
  <br>
  <form action="/schedule" method="POST">
  	<div class="form-group">
   	  <label for="name">Nama Pegawai</label>
      <br>
      <select name="name" class="form-control" id="name">
        {% for x in user_name_list %}
          <option value="{{ x }}"{% if loop.first %} SELECTED{% endif %}>{{ x }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="date">Tanggal Pekerjaan</label>
      <input name="date" type="date" class="form-control" id="date">
    </div>
    <div class="form-group">
   	 <label for="activity">Kegiatan Pekerjaan</label>
  	 <textarea name="activity" class="form-control" rows="5" id="activity"></textarea>
  	</div>
    <div class="form-group">
  	 <button class="btn btn-primary " name="submit" type="submit" >
  		Submit
   	 </button>
   	</div>
  </form>
</div>

</body>
</html>
